#Promo
    .MainPromo1
        padding: 20px
        height: 100vh
        display: flex
        gap: 10px
        flex-direction: column
        cursor: default

        h1
            font-weight: bold
            font-size: 1.5rem

        a
            font-weight: 500
            color: #395FEA
            text-decoration: underline

    .buttonSign
        margin-top: 10px

        button
            font-size: 14.5px
            width: 100%
            border-radius: 20px
            height: 36px
            gap: 6px

        .signed
            font-weight: 500
            border-width: 1px
            background-color: transparent
            cursor: default
            gap: 3px

    .text-2
        font-size: 0.8rem
        line-height: 16px
        font-weight: 500
        margin-top: 5px