#Stories
    display: flex
    justify-content: center
    background-color: #1d1d1d
    padding: 30px

    .stories-player
        max-width: 400px
        height: 100vh

        @media (max-width: 600px)
            display: flex
            align-items: center

        .Video-styles_soundIcon__ZvYXE
            top: auto
            bottom: 0
            background-color: #3131319f
            border-radius: 50px
            padding: 9px
            margin: 10px

            svg
                width: 1rem
                height: 1rem

    @media (max-width: 600px)
        padding: 0